/* src/Carousel.css */

.carousel-container {
  position: relative;
  /* width: 80%; */
  margin: auto;
  overflow: hidden;
  height: 500px; /* Adjust this value to fit your content */
}

.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 1;
  padding: 0 10px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
}

.carousel-button.left {
  left: 0;
}

.carousel-button.right {
  right: 0;
}
